<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="static/lstyle.css"/>
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          {% block content %}
          <form action="{{ url_for('signin') }}" method="post" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input name="name" type="text" required placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name='password' type="password" required placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form>
          <form action="{{ url_for('signup') }}" method="post" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input name="NAME" type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input name="EMAIL" type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input name="PASSWORD" type="password" placeholder="Password" />
              <h6 style="color:white">{{ error }}</h6>
            </div>
            <input type="submit" class="btn" value="Sign up" />
          </form>
          {% endblock %}
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here?</h3>
            <p>
            Unlock Efficiency and Navigate Smarter!
            Sign up and Optimize Your Routes!
            </p>
            <button type="submit" class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="static/img/right.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
                Welcome aboard!
                Let's navigate the fastest route to your destination
            </p>
            <button type="submit" class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="static/img/left.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <script>
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");

        sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
        });

        sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
        });
    </script>
  </body>
</html>